<div class="static-page content">
	<article>
		<section class="hero is-info">
			<div class="hero-body">
				<p class="title">
					Conditions Générales d'utilisation
				</p>
				<p class="subtitle">
					Détail des CGU.
					<br />
					Ne nous prenez pas pour des chatons.
				</p>
			</div>
		</section>
		<section class="hero is-info">
			<div class="hero-body">
				<p class="title">
					Conditions Particulières d'utilisation
				</p>
				<p class="subtitle">
					Détail des CPU
				</p>
			</div>
		</section>
	</article>
</div>
