<app-stepper [step_current]="3" [step_max]="pollService.step_max"></app-stepper>
<div class="step min-height">
	<app-errors-list [form]="pollService.form"></app-errors-list>
	<div class="text-options" *ngIf="!pollService.form.value.isAboutDate">
		<!--		version text choices-->
		<app-option-link></app-option-link>
	</div>
	<div class="date-options" *ngIf="pollService.form.value.isAboutDate">
		<h1 class="title is-1" id="step_title">
			{{ 'dates.title' | translate }}
		</h1>
		<!--	sélecteur d'interface-->
		<button
			*ngIf="pollService.mode_calendar"
			class="button is-fullwidth date-input-selector is-secondary is-thin text-center"
			(click)="changeDateInputMode()"
		>
			{{ 'dates.manual_input' | translate }}
		</button>
		<button
			*ngIf="!pollService.mode_calendar"
			class="button is-fullwidth date-input-selector is-secondary is-thin"
			(click)="changeDateInputMode()"
		>
			{{ 'dates.datepicker_input' | translate }}
		</button>

		<!--			choix spécialement pour les dates-->
		<div class="calendar" *ngIf="pollService.mode_calendar" [ngClass]="{ 'hide-back-button': hideBackButton }">
			<!--			[minDate]="minDate"-->
			<p-calendar
				[(ngModel)]="pollService.calendar"
				[firstDayOfWeek]="1"
				selectionMode="multiple"
				inputId="multiple"
				[showButtonBar]="true"
				[locale]="'calendar_widget' | translate"
				[inline]="true"
				[showWeek]="false"
				(onMonthChange)="(onMonthChangeCustom)"
			>
			</p-calendar>
		</div>

		<div class="text-date-list" *ngIf="!pollService.mode_calendar">
			<app-day-list
				[form]="pollService.form"
				[hasSeveralHours]="environment.creation_display_hour_per_day"
			></app-day-list>
		</div>
	</div>
</div>
<app-nav-steps
	[actionBeforeNextStep]="convertDateInputs"
	[next_step_number]="
		pollService.form.value.isAboutDate ? pollService.step_current + 1 : pollService.step_current + 2
	"
	[previous_step_number]="pollService.step_current - 1"
></app-nav-steps>
